@font-face {
  font-family: "koodak";
  src: url("../fonts/KoodakBold.eot") format("eot"), url("../fonts/KoodakBold.ttf") format("truetype"), url("../fonts/KoodakBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Delmonte";
  src: url("../fonts/Ro.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nazanin";
  src: url("../fonts/Nazanin.eot") format("eot"), url("../fonts/Nazanin.ttf") format("truetype"), url("../fonts/Nazanin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yekan";
  src: url("../fonts/Yekan.eot") format("eot"), url("../fonts/Yekan.ttf") format("truetype"), url("../fonts/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Byekan";
  src: url("../fonts/BYekan+.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yekan";
  src: url("../fonts/BYekan+.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ByekanBold";
  src: url("../fonts/BYekan+Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "nazanin";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html, body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Back.jpg);
  margin-right: 0;
  animation-name: No1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  min-height: 100vh;
  gap: 20px;
}

@keyframes No1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.No1 {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 400px;
  background-image: url(../Images/Back\ 2.jpg);
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 10px 25px 5px gainsboro;
  opacity: 0;
  transition: 1s ease-in-out;
  transform: translateX(-200px);
}

.No2 {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 350px;
  height: 250px;
  background-image: url(../Images/Back3.jpg);
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 10px 25px 5px gainsboro;
  opacity: 0;
  transition: 1s ease-in-out;
  transform: translateX(-200px);
}

.No1.active {
  transition: 1s ease-in-out;
  opacity: 1;
  transform: translateX(0px);
}

.No2.active {
  transition: 1.5s ease-in-out;
  opacity: 1;
  transform: translateX(0px);
}

#Par {
  font-size: 25px;
  font-weight: 600;
  font-family: "nazanin";
  opacity: 0;
  transform: translateX(-200px);
}

#Par.active {
  transition: 0.5s ease-in-out;
  opacity: 1;
  transform: translateX(0px);
}

.fa-hourglass-o {
  animation-name: No2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#Par2 {
  font-size: 20px;
  font-weight: 700;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

li {
  color: #969696;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
  list-style-type: number;
}

@keyframes No2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#No4 {
  width: 100px;
  height: 100px;
  transform: translate(-200px, 70px);
  z-index: 999;
  opacity: 0;
}

#No4.active {
  transition: 1s ease-in-out;
  opacity: 1;
  transform: translate(0px, 70px);
}/*# sourceMappingURL=style.css.map */